* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color2);
  background-image: url("../resources/fondo8.jpg");background-attachment: fixed;
  background-size: cover;
}

h2 {
  font-size: 3em;
  color: var(--color1);
  margin: 0.5em 0;
}

h1 {
  font-size: 5em;
  color: var(--color1);
  margin: 0.5em 0;
}

h3{
  font-size: 1em;
  color: var(--color1);
}

#resultado{
  font-size: 30px;
  color: var(--color1);
  margin: 0.5em 0;
}
p{
  font-size:28px;
}

:root {
  --color1: #e6e7b2;
  --color2: #DDE7C7;
  --color3: #BFD8BD;
  --color4: #98C9A3;
  --color5: #77BFA3;
  --color6: #b1decf;
  --color7: #06592f ;
  --color8: #a3d3c7;
  --color9: #2b6849 ;
  --color9: #2b6849 ;
  --color10: #4e6a1e;
  --color11: #c33619;
  --color12:#f2c4a2;

  --relleno: bisque;
  --prueba: #29d8c6;
  --font: 'Abhaya Libre', serif;
  --titulo: 500em; /* Eliminado "font-size:" */
}


/* Estilos para el contenedor de opciones */
.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em; /* Espacio entre las opciones */
}

/* Estilos para cada opción individual */
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.image {
  width: 30%;
  height: auto;
  margin-bottom: 0.5em;
  padding: 1em;
  background-color: var(--color7);
  border-radius: 2em;
  padding: 1em;
}

/* Estilos para los botones */
button {
  color: var(--color);
  background-color: var(--color1);
  border: 2px solid var(--color1);
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.5s;
}

button:hover,
button:focus {
  border-color: var(--color5);
  color: #fff;
}

.fill:hover,
.fill:focus,
.editarBtn:hover,
.editarBtn:focus,
.eliminarBtn:hover,
.eliminarBtn:focus,
.eliminarProducto:hover,
.eliminarProducto:focus,
.agregarProducto:hover,
.agregarProducto:focus,.efectivoBoton:hover,.efectivoBoton:focus,#tarjetaBoton:hover,#tarjetaBoton:focus {
  box-shadow: inset 0 0 0 2em var(--color5);
}

.fill,.editarBtn,.eliminarBtn,.eliminarProducto,.agregarProducto,.efectivoBoton,#tarjetaBoton {
  --color: #cc883a;
  --color: #cc883a;
  --hover: #d8c729;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

/* Estilos adicionales para la accesibilidad visual */
code {
  color: #e4cb58;
  font: inherit;
}

/* Contenedores adicionales */
.contenedor {
  width: 80%; /* Ajusta el ancho al 80% del contenedor padre */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: inherit;
  overflow: hidden;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: inherit;
  overflow: hidden;
  align-items: center;
  padding: 1em;
  position: relative;
  z-index: 1;
  border: 5px solid var(--color3);
}

.contenedor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit;
  filter: grayscale(50%)  blur(10px);
  border-radius: 20px; /* Add border-radius to blur effect */
  color: rgb(62, 97, 62);
   box-shadow: 0 0 10px rgba(0, 0, 0, 1
   
   ); 
}

.alert-alert-warning{
  font-size: 30px;
}
.content-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.botonTexto{
  color: var(--prueba);
  font-size: 50px;
}

.contenedorInicioSesion{
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto; 
  color: var(--color4);
  font-size: 150%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  width: 50%;
  text-align: center;
}

label {
  margin-bottom: 0.5em;
  color: var(--color8);
  text-align: center;
  width: 40%;
  font-size: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
form#editarProductoForm textarea,
form#editarProductoForm select  {
 width: 30%; /* Ajusta el ancho al 100% del contenedor */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5px;
  background-color: var(--color5);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--color4);
}

.cajero-info {
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Margen inferior */
  color: var(--color11);
  font-size: 20px;

}

.cajero-info h2,h3 {
  margin-top: 0; /* Eliminar margen superior del título */
  color: var(--color11); /* Color del texto */
}

.editarCajeroForm,.editarProductoForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto; 
  color: var(--color11);
}

#titulo,#total{
  font-size:28px;
  color: var(--color8);
}


#agregarCajeroForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto; 
  color: var(--color11);
  text-align: center;
}

.contenedorForm {
  width: auto; /* Ajusta el ancho al 80% del contenedor padre */
  padding: 2em; /* Añade padding para espacio interno */
  margin: 2em auto; /* Centra el contenedor y añade margen superior e inferior */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box;
  align-items: center;
}

/* Estilos Tablas */
code {
  color: #e4cb58;
  font: inherit;
}

.custom-table{
  width: 50%;
  border-collapse: collapse;
  border-radius: 5px;
}

.tablaProductos,#nombre{
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  font-size: 20px;
  color: var(--color5);
  flex-grow: 1;
}

.custom-table-producto {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  font-size: 20px;
}

.custom-table th, .custom-table td,.custom-table-producto th, .custom-table-producto td,.tablaProductos th, .tablaProductos td {
  border: 2px solid var(--color7);
  padding: 8px;
  padding-right:0.5em;
  text-align:center;
}

.custom-table th,.custom-table-producto th,.tablaProductos th {
  background-color: var(--color9);
}

.custom-table tr:nth-child(even),.custom-table-producto tr:nth-child(even),.tablaProductos tr:nth-child(even){
  background-color: var(--color5); /* Color de fondo para filas pares */
}

.custom-table tr:nth-child(odd),.custom-table-producto tr:nth-child(odd),.tablaProductos tr:nth-child(odd){
  background-color: var(--color9); /* Color de fondo para filas impares */
}

.custom-table tr:hover,.custom-table-producto tr:hover,.tablaProductos tr:hover{
  background-color: var(--color8);
}

.contenedorPuntoVenta {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    min-width: 100vh;
}

.sidebar {
    flex: 0 0 25%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.busqueda {
    margin-top: 20px;
}

#buscador {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.productosCarrito {
    margin-top: 20px;
}

.carrito {
    flex: 1;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    margin-left: 20px;
    width: 100%;
}

.buttons{
  margin: auto;
}

#resultado{
  
}